---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro"

import Home from "../components/Home.astro"
import Content from "../components/Content.astro"
---

<Layout
  title="Axolotl Web - Información sobre ajolotes y sus diversas variedades."
  description="Una página dedicada a explorar el fascinante mundo de los ajolotes, sus diversas variedades y características únicas. Descubre todo sobre este asombroso y encantador espécimen, símbolo de biodiversidad y resiliencia, que ha cautivado a muchas culturas alrededor del mundo. Sumérgete en su historia, hábitat y conservación, y enamórate aún más de estas increíbles criaturas."
>
  <main
    class="flex flex-col justify-center items-center bg-slate-950 text-white"
  >
    <Home />
    <Content />
  </main>
</Layout>
