<div class="border-4 border-white p-6 rounded-lg">
  <h2 class="text-center text-4xl font-extrabold">«Los ajolotes ¿Qué son?»</h2>
  <div class="text-xl max-w-6xl">
    <p class="my-4">
      El ajolote es un anfibio carnívoro que pertenece al grupo de las
      salamandras. Es endémico de México y se caracteriza por conservar sus
      rasgos larvales en su vida adulta.
    </p>
    <h3 class="font-bold text-2xl my-4">Características</h3>
    <ul>
      <li>
        Su nombre proviene del náhuatl <strong>axolotl</strong>, que significa
        “monstruo de agua”.
      </li>
      <li>Su cuerpo es liso y con numerosos poros.</li>
      <li>Tiene branquias plumosas que salen de la cabeza.</li>
      <li>Sus extremidades son palmeadas.</li>
      <li>Tiene una aleta dorsal a lo largo de todo el cuerpo.</li>
      <li>Su cola es dorsolateralmente aplanada.</li>
    </ul>

    <h3 class="font-bold text-2xl my-4">Hábitat y alimentación</h3>
    <ul>
      <li>
        Vive en aguas limpias y generalmente frías, con buena oxigenación.
      </li>
      <li>
        Se alimenta de pequeños crustáceos, larvas de insectos, gusanos,
        babosas, caracoles, lombrices, renacuajos y algunos peces.
      </li>
    </ul>

    <h3 class="font-bold text-2xl my-4">Estado de conservación</h3>
    <ul>
      <li>Está en peligro de extinción en su hábitat natural.</li>
      <li>
        Ha sido investigado en todo el mundo debido a su capacidad regenerativa.
      </li>
    </ul>

    <h3 class="font-bold text-2xl my-4">Importancia para la medicina</h3>
    <ul>
      <li>
        Se ha intentado descubrir los secretos de sus extraordinarios procesos
        biológicos y sus potenciales aplicaciones en la medicina humana.
      </li>
    </ul>
  </div>
</div>
