<div
  style="font-family: Titan One, serif;"
  class="flex flex-col h-screen justify-center items-center bg-slate-950 text-white"
>
  <img
    src="/img/draw.webp"
    alt="dibujo de comillas para el texto"
    class="relative w-4/10 right-40 top-50 z-0"
  />
  <div class="text-center absolute z-1">
    <p class="text-xl drop-shadow-[2px_2px_0px_#c37e6e]">Ven y conoce a los</p>
    <h1 class="text-8xl drop-shadow-[5px_5px_0px_#c37e6e]">Ajolotes</h1>
  </div>
  <img
    src="/img/axo.webp"
    alt="dibujo de ajolote"
    class="relative bottom-35 left-60 z-0 drop-shadow-[5px_5px_0px_white]"
  />
</div>
