<div
  style="font-family: Titan One, serif;"
  class="flex flex-col h-screen justify-center items-center bg-slate-950 text-white"
>
  <div class="text-center absolute z-1">
    <p class="text-xl drop-shadow-[2px_2px_0px_#c37e6e]">Ven y conoce a los</p>
    <h1 class="text-8xl drop-shadow-[5px_5px_0px_#c37e6e]">Ajolotes</h1>
  </div>
  <img
    src="/img/axo.webp"
    alt="dibujo de ajolote"
    class="relative top-20 left-60 z-0 drop-shadow-[5px_5px_0px_white]"
  />
</div>
